
@font-face {
    font-family: 'Quicksand';
    src: url('assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Pacifico';
    src: url('assets/fonts/Pacifico/Pacifico-Regular.ttf') format('truetype');
}

:root {
    --brand-active:#11BABF;
    --brand: #28D6DB;
    --brand-link: #63E8EC; 
    --brand-background: #A9F8E5;
    --brand-accent: #F5E5C9;
    --brand-highlight: #EDD09F;

    --mono-nav: #050505;
    --mono-tar: #303030;
    --mono-title: #4B4B4B;
    --mono-subtitle: #8A8A8A;
    --mono-smoke: #f5f5f5;

    --box-shadow: 0px 2px 6px 2px rgba(51, 113, 142, 0.34), 0px 1px 2px 0px rgb(165 165 165 / 11%);
    --box-hover:  0 4px 12px 4px rgba(7,17,27,0.15);
    --text-shadow: 0px 2px 6px rgba(172, 172, 172, 0.34), 0px 1px 2px rgba(165, 165, 165, 0.11);
    --enlarge: scale(1.05);
    --transition: all 0.4s ease;
    --border-round: 2em;
    --border-radius: 10px;
    --border-color: unset;
    --border-style: unset;
    --border-width: unset;

    --red: #F44336;
    --orange: #FFB74D;
    --yellow: #FFEE58;
    --teal: #80DEEA;
    --lime: #c4fb83;
    --mauve: #9575CD;
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Quicksand','Tilt Neon', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: var(--mono-smoke);
    margin: 0;
    overflow-x: hidden;
}

input {
    caret-color: var(--brand-active);
}

* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    outline: 0
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

*::-webkit-scrollbar {
    width: 10px;
    height: 8px;
  }

  *::-webkit-scrollbar-thumb {
    background: var(--teal);
    border-radius: var(--border-round);
  }

  *::-webkit-scrollbar-thumb:hover {
    background: var(--brand-active);
    border-radius: var(--border-round);
  }

*::-webkit-scrollbar-track {
background-color: #e1e0e0;
}

@keyframes float {
	0%,
	100% {
		transform: translateY(5px);
	}
	50% {
		transform: translateY(-5px);
	}
}