@font-face {
	font-family: "Quicksand";
	src: url("assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf") format("truetype");
}

:root {
	--joy-hue-white: #FDFDFD;
	--joy-hue-smoke: #FAFAFA;
	--joy-hue-red: #FF3458;
	--joy-hue-yellow: #FFDD43;
	--joy-hue-aqua: #23DCE0;
	--joy-hue-indigo: #1B1E39;
	--joy-hue-gray: #4B4B4B;
	--joy-hue-darkgray: #353535;

	--joy-hue-error: #FF3458;
	--joy-hue-hover: rgb(210, 210, 210);

	--joy-hue-ui: #1B1E39;

	--joy-speed-ui: 200ms;
	--joy-speed-ui-special: 300ms;
	--joy-speed-ui-extended: 600ms;

	--joy-border-shadow:0px 2px 6px 2px rgba(51, 113, 142, 0.34), 0px 1px 2px 0px rgb(165 165 165 / 11%);
	--joy-border-shadow-soft:0 3px 5px rgba(0,0,0,0.1);
	--joy-border-radius: 10px;
	--joy-border-round: 999px;
}

html {
	overflow-x: hidden;
}

body {
	font-family: "Quicksand", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: var(--mono-smoke);
	margin: 0;
	overflow-x: hidden;
}

input {
	caret-color: var(--brand-active);
}

* {
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
	outline: 0;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
}

*::-webkit-scrollbar {
	width: 10px;
	height: 8px;
}

*::-webkit-scrollbar-thumb {
	background: var(--teal);
	border-radius: var(--border-round);
}

*::-webkit-scrollbar-thumb:hover {
	background: var(--brand-active);
	border-radius: var(--border-round);
}

*::-webkit-scrollbar-track {
	background-color: #e1e0e0;
}
