

.UI-Tab {
  position: relative;
  font-size: 18px;
  background-color: var(--brand);
  padding: 10px;
  color: var(--mute);
  width: max-content;
  border-radius: 100px;
}

.UI-Tab:hover {
  background-color: var(--mute);
}
