/* Moby Component Styles */

.Moby {
	--moby-font-color: #2d3748;
	--moby-para-color: #38404e;
	--moby-sub-color: #5d6878;
	--moby-sub-background: #e0f7fa;
	--moby-primary-light: #8ccfcf;
	--moby-primary: #5ebdbd;
	--moby-primary-dark: #3f9494;
	--moby-success: #8cec8c;
	--moby-warn: #fcbd60;
	--moby-error: #ea0d67;
	--moby-disable: #90a9a9;
	--moby-offwhite: #ececec;
	--moby-white: #fbfcfb;
	--moby-complete: #5b75a3;
	--moby-icon-dark: #2d3748;
	--moby-icon-light: #f5f5f5;
	--moby-border-radius: 10px;
	--moby-border-round: 999px;
	--moby-ui-speed: 300ms;
	--moby-ui-speed-trans: 200ms;
	--moby-border: ;
}

/* Moby main page CSS */

.Moby {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.Moby-Sidebar-Logo {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 999px;
	margin: 4px;
	outline-offset: 3px;
	width: max-content;
}

.Moby-Sidebar-Logo img {
	width: clamp(40px, 4vw, 100px);
	height: clamp(40px, 4vw, 100px);
}

.Moby-Sidebar-Logo-Border {
	margin: 10px;
	margin-top: 25px;
}

.Moby-Content {
	flex: 1;
	min-height: 100vh;
	background-color: var(--moby-white);
	color: var(--moby-font-color);
	padding: 10px;
}

.Moby-Sidebar {
	width: clamp(50px, 17vw, 120px);
	min-height: 100vh;
	background-color: var(--moby-font-color);
	color: var(--moby-white);
	border-radius: 0 10px 10px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Moby-Sidebar-Inner {
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Moby-Sidebar-Links {
	padding: 10px;
	margin: 7px;
	border-radius: 999px;
	width: max-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	transition: all 0.2s ease;
}

.Moby-Selected {
	transform: scale(1.2);
	background-color: var(--moby-primary);
}

.Moby-Selected img {
	filter: brightness(1.5);
}

.Moby-Sidebar-Icon {
	width: 20px;
	height: 20px;
}

.Moby-Sidebar-Icon path {
	fill: var(--moby-white);
}

/* Moby component stuff */

.Moby-Logo {
	background-color: #e0f7fa;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 999px;
	width: max-content;
	margin: 2px;
}

.Moby-Logo-Small img {
	width: 100px;
	height: 100px;
}

.Moby-Logo-Medium img {
	width: 200px;
	height: 200px;
}

.Moby-Logo-Large img {
	width: 300px;
	height: 300px;
}

.Moby-Container {
	padding: 1vw;
	width: 100%;
	height: 100%;
}

.Moby-Container-Page {
	padding: 1vw;
	width: 100vw;
	height: 100vh;
}

.Moby-Container-Column {
	display: flex;
	flex-direction: column;
}

.Moby-Container-Center {
	align-items: center;
	justify-content: center;
}

.Moby-Container-Row {
	display: flex;
}

.Moby-Container-Evenly {
	justify-content: space-evenly;
}

.Moby-Container-Around {
	justify-content: space-around;
}

.Moby-Container-Between {
	justify-content: space-between;
}

.Moby-Container-Stretch {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.Moby-Grid {
	display: grid;
	justify-items: start;
}

.Moby-Grid-Col-6 {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.Moby-Heading {
	margin: 10px;
	width: max-content;
	height: max-content;
	color: var(--moby-font-color);
}

.Moby-Label {
	margin: 5px;
	width: max-content;
	height: max-content;
	color: var(--moby-para-color);
}

.Moby-Paragraph {
	font-size: medium;
	font-weight: 500;
	margin: 5px;
	width: max-content;
	height: max-content;
	color: var(--moby-para-color);
}

.Moby-Paragraph-Light {
	font-size: medium;
	font-weight: 500;
	margin: 5px;
	width: fit-content;
	height: fit-content;
	color: var(--moby-white);
}

.Moby-Link {
	font-size: medium;
	font-weight: 500;
	font-style: oblique;
	margin: 5px;
	width: max-content;
	height: max-content;
	color: var(--moby-font-color);
}

.Moby-Link:visited {
	color: var(--moby-complete);
}

.Moby-Line-Thick {
	width: 85%;
	height: 4px;
	margin: 2px;
	border-radius: var(--moby-border-round);
	background-color: var(--moby-font-color);
}

.Moby-Line-Thin {
	width: 85%;
	height: 2px;
	margin: 2px;
	border-radius: var(--moby-border-radius);
	background-color: var(--moby-font-color);
}

.Moby-Widget-Container {
	background-color: var(--moby-sub-background);
	padding: 1vw;
	margin: 0.5vw;
	width: min-content;
	height: max-content;
	border-radius: var(--moby-border-radius);
}

.Moby-Mini-Container {
	background-color: var(--moby-offwhite);
	margin: 0.5vw;
	width: min-content;
	height: max-content;
	border-radius: var(--moby-border-radius);
}

/* Checkbox CSS */

.Moby-Checkbox .checkbox {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
}

.Moby-Checkbox label {
    display: flex;
    color: var(--moby-primary-dark);
    font-weight: 600;
    cursor: pointer;
    position: relative;
    margin: 10px;
    width: max-content;
    align-items: center;
}

.Moby-Checkbox label span {
    display: inline-block;
    position: relative;
    background-color: var(--moby-icon-light);
    width: 30px;
    height: 30px;
    transform-origin: center;
    border: 2px solid var(--moby-primary-dark);
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
    transition: background-color 150ms 200ms, transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
}

.Moby-Checkbox label span:before {
	content: "";
	width: 0px;
	height: 2px;
	border-radius: 2px;
	background: var(--moby-primary-dark);
	position: absolute;
	transform: rotate(45deg);
	top: 13px;
	left: 9px;
	transition: width 50ms ease 50ms;
	transform-origin: 0% 0%;
}

.Moby-Checkbox label span:after {
	content: "";
	width: 0;
	height: 2px;
	border-radius: 2px;
	background: var(--moby-primary-dark);
	position: absolute;
	transform: rotate(305deg);
	top: 16px;
	left: 10px;
	transition: width 50ms ease;
	transform-origin: 0% 0%;
}

.Moby-Checkbox label:hover span:before {
	width: 5px;
	transition: width 100ms ease;
}

.Moby-Checkbox label:hover span:after {
	width: 10px;
	transition: width 150ms ease 100ms;
}

.Moby-Checkbox input[type="checkbox"] {
	display: none;
}

.Moby-Checkbox input[type="checkbox"]:checked + label span {
	background-color: var(--moby-primary-dark);
	transform: scale(1.25);
}

.Moby-Checkbox input[type="checkbox"]:checked + label span:after {
	width: 10px;
	background: var(--moby-icon-light);
	transition: width 150ms ease 100ms;
}

.Moby-Checkbox input[type="checkbox"]:checked + label span:before {
	width: 5px;
	background: var(--moby-icon-light);
	transition: width 150ms ease 100ms;
}

.Moby-Checkbox input[type="checkbox"]:checked + label:hover span {
	background-color: var(--moby-primary-dark);
	transform: scale(1.25);
}

.Moby-Checkbox input[type="checkbox"]:checked + label:hover span:after {
	width: 10px;
	background: var(--moby-icon-light);
	transition: width 150ms ease 100ms;
}

.Moby-Checkbox input[type="checkbox"]:checked + label:hover span:before {
	width: 5px;
	background: var(--moby-icon-light);
	transition: width 150ms ease 100ms;
}

/* Rest of the CSS stuff */

.Moby-Button {
	width: max-content;
	height: max-content;
	cursor: pointer;
	background-color: var(--moby-primary);
	color: var(--moby-white);
	font-weight: 700;
	padding: 10px;
	border-radius: var(--moby-border-radius);
	margin: 5px;
	transition: background-color var(--moby-ui-speed) ease;
}

.Moby-Button:hover {
	background-color: var(--moby-primary-dark);
}

.Moby-Button-Disabled {
	background-color: var(--moby-disable);
	pointer-events: none;
}

.Moby-Button-Special {
	width: max-content;
	height: max-content;
	cursor: pointer;
	background-color: var(--moby-white);
	color: var(--moby-para-color);
	font-weight: 700;
	padding: 10px;
	border-radius: var(--moby-border-radius);
	margin: 5px;
	transition: background-color var(--moby-ui-speed) ease;
}

.Moby-Button-Special:hover {
	background-color: var(--moby-offwhite);
}

.Moby-Credentials-Wrapper {
	width: clamp(300px, 35vw, 400px) !important;
	position: relative;
	overflow: hidden;
}

.Moby-Credentials {
	width: clamp(300px, 35vw, 400px);
	outline: none;
	border: none;
	padding: 15px;
	padding-inline: 25px;
	border-radius: var(--border-round);
	background-color: var(--mono-bril);
	color: var(--moby-para-color);
	font-size: large;
	font-weight: 600;
	font-family: "Quicksand", system-ui;
}

.Moby-Spacer {
	width: 100%;
}

.Moby-Divider {
	width: 80%;
	height: 3px;
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: var(--moby-primary-light);
	border-radius: var(--moby-border-round);
}

.Moby-Icon-Block {
	margin: 10px;
	width: max-content;
	height: max-content;
	display: flex;
	align-items: center;
}

.Moby-Icon-Right {
	position: absolute;
	right: 0px;
}

.Moby-Icon-Dark {
	fill: var(--moby-icon-dark);
}

.Moby-Icon-Light {
	fill: var(--moby-icon-light);
}

.Moby-Icon-Small {
	display: block;
	cursor: pointer;
	width: 15px;
	height: 15px;
	margin: 5px;
	transition: all var(--moby-ui-speed) ease;
}

.Moby-Icon-Medium {
	display: block;
	cursor: pointer;
	width: 35px;
	height: 35px;
	margin: 15px;
	transition: all var(--moby-ui-speed) ease;
}

.Moby-Icon-Wrapper {
	background-color: var(--moby-white);
	border-radius: 50%;
	margin: 10px;
	padding: 5px;
	transition: all 0.3s ease;
}

.Moby-Error-Log {
    background-color: var(--moby-disable);
    color: var(--moby-white);
    padding: 1vw;
    margin: 0.5vw;
    max-width: 50vw;
    line-break: anywhere;
    height: max-content;
    width: max-content;
    min-width: 300px;
    border-radius: var(--moby-border-radius);
    white-space: pre-wrap;
}

/* Moby Table Content */

.Moby-Table {
	border: 2px solid var(--moby-sub-color);
	color: var(--moby-white);
	font-size: 12px;
	border-radius: 10px;
	overflow: hidden;
	display: table;
	width: 100%;
}

.Moby-Table-Header {
	background-color: var(--moby-primary-light);
	font-weight: bold;
	display: table-row;
}

.Moby-Table-Header-Cell {
	padding: 8px;
	text-align: center;
	display: table-cell;
}

.Moby-Table-Rows {
	display: table-row-group;
}

.Moby-Table-Row {
	display: table-row;
}

.Moby-Table-Cell {
	text-align: center;
	background-color: var(--moby-white);
	color: var(--moby-font-color);
	display: table-cell;
	border-radius: var(--border-radius);
	padding: 8px;
	cursor: crosshair;
}

.Moby-Table-Cell:hover {
	color: var(--moby-para-color);
	background-color: var(--moby-offwhite);
}

.Moby-Table-Active {
	background-color: var(--moby-disable);
	border-radius: var(--border-radius);
	color: var(--moby-white);
	font-weight: 600;
	font-size: 13px;
	padding: 10px;
	margin: 5px;
}

/* Moby Tab Content */

.Moby-Tab {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;
	width: max-content;
	height: max-content;
}

.Moby-Tab-Link-Container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.Moby-Tab-Link {
	color: var(--moby-sub-color);
	font-size: medium;
	font-weight: bold;
	padding: 5px;
	padding-inline-start: 3vw;
	padding-inline-end: 3vw;
	margin-inline-start: 1vw;
	margin-inline-end: 1vw;
	border-bottom: transparent 3px solid;
	transition: all var(--moby-ui-speed) ease;
	text-align: center;
}

.Moby-Tab-Link:hover {
	color: var(--moby-font-color);
	border-bottom: var(--moby-primary) 3px solid;
}

.Moby-Tab-Link-Active {
	color: var(--moby-font-color);
	border-bottom: var(--moby-primary) 3px solid;
}

.Moby-Tab-Content {
	padding: 10px;
	margin: 10px;
	width: 100%;
	height: 100%;
	background-color: var(--moby-sub-background);
	border-radius: var(--moby-border-radius);
}

/* Moby Dropdown Content */

.Moby-Dropdown {
	position: relative;
	display: flex;
	align-items: stretch;
	flex-direction: column;
	margin: 10px;
}

.Moby-Dropdown-Heading {
	cursor: pointer;
	background-color: var(--moby-primary);
	border-radius: var(--border-radius);
	color: var(--moby-white);
	width: max-content;
}

.Moby-Dropdown-Selected {
	color: var(--moby-sub-color);
	font-weight: 600;
	margin-inline-start: 10px;
}

.Moby-Dropdown-List {
	position: absolute;
	max-width: 400px;
	z-index: 1;
	top: 50px;
	background-color: var(--moby-sub-background);
	border-radius: var(--moby-border-radius);
}

.Moby-Dropdown-Option {
	padding: 10px;
	padding-inline-start: 20px;
	cursor: pointer;
	transition: all 0.2s ease;
	border-radius: var(--moby-border-radius);
}

.Moby-Dropdown-Option:hover {
	transform: scale(1.05);
	background-color: var(--moby-primary-light);
	color: var(--moby-white);
}

/* Moby Popup Content */

.Moby-Popup-Overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--moby-sub-background);
	opacity: 0.9;
	background-image: radial-gradient(var(--moby-sub-color) 1px, transparent 11%);
	background-size: 16px 16px;
	background-attachment: fixed;
}

.Moby-Popup-Card {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.Moby-Popup-Close {
	position: absolute;
	right: -40px;
	top: -40px;
	background-color: var(--moby-white);
	border-radius: var(--border-round);
	padding: 10px;
	cursor: pointer;
	width: 45px;
	height: 45px;
}

/* Moby Alert Content */

.Moby-Alert {
	position: fixed;
	top: 0%;
	left: 50%;
	width: 100%;
	height: 100%;
	transform: translate(-50%, 0%);
	text-decoration: none;
	display: flex;
	justify-content: center;
}

.Moby-Container-Alert {
	display: flex;
	flex-direction: row;
	align-items: center;
	z-index: 2;
}

.Moby-Alert-Overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	background-color: var(--moby-white);
	opacity: 0;
}

.Moby-Alert-Paragraph {
	font-size: medium;
	font-weight: 500;
	margin: 5px;
	max-height: 60vh;
	overflow: auto;
	color: var(--moby-white);
}

.Moby-Success {
	background-color: var(--moby-success);
	color: var(--moby-white);
	padding: 10px;
	margin: 10px;
	border-radius: var(--moby-border-radius);
	font-size: medium;
	font-weight: 600;
	max-width: 500px;
	height: max-content;
}

.Moby-Warn {
	background-color: var(--moby-warn);
	color: var(--moby-white);
	padding: 10px;
	margin: 10px;
	border-radius: var(--moby-border-radius);
	font-size: medium;
	font-weight: 600;
	max-width: 500px;
	height: max-content;
	line-break: anywhere;
}

.Moby-Error {
	background-color: var(--moby-error);
	color: var(--moby-white);
	padding: 10px;
	margin: 10px;
	border-radius: var(--moby-border-radius);
	font-size: medium;
	font-weight: 600;
	max-width: 500px;
	height: max-content;
	line-break: anywhere;
}

.Moby-Disabled {
	background-color: var(--moby-disable);
	color: var(--moby-white);
	padding: 10px;
	margin: 10px;
	border-radius: var(--moby-border-radius);
	font-size: medium;
	font-weight: 600;
	max-width: 500px;
	height: max-content;
	line-break: anywhere;
}

/* Moby Toggle */

.Moby-Toggle-Container {
	width: 50px;
	height: 25px;
	border-radius: 15px;
	display: flex;
	align-items: center;
	padding: 2.5px;
	margin: 5px;
	cursor: pointer;
}

.Moby-Toggle {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: var(--moby-white);
	transition: all var(--moby-ui-speed);
}

.Moby-Toggle.On {
	transform: translateX(25px);
}

.Moby-Toggle.Off {
	transform: translateX(0);
}

/* Moby StrInput */

.Moby-StrInput {
    outline: none;
    font-family: inherit;
    color: var(--moby-sub-color);
    background-color: var(--moby-white);
    border: 2.5px solid var(--moby-primary-dark);
    border-radius: var(--border-radius);
    padding-inline: 25px;
    font-weight: 500;
    line-height: 2em;
    margin: 10px;
    width: max-content;
}

.Moby-StrInput-Label {
	margin: 0;
	position: relative;
	bottom: -0.6em;
	padding-inline: 6px;
	left: 1em;
	background-color: var(--moby-white);
	width: max-content;
}

.Moby-StrInput-Helper {
	margin: 0;
	position: relative;
	top: 0em;
	left: 1em;
	font-weight: 500;
	color: var(--moby-para-color);
}

.Moby-Left-enter {
	transform: translateX(0%);
}

.Moby-Left-enter-active {
	transform: translateX(-110%);
	transition: all var(--moby-ui-speed-trans) ease;
}

.Moby-Left-exit {
	transform: translateX(0%);
}

.Moby-Left-exit-active {
	transform: translateX(-110%);
	transition: all var(--moby-ui-speed-trans) ease;
}

.Moby-Right-enter {
	transform: translateX(110%);
}

.Moby-Right-enter-active {
	transform: translateX(0%);
	transition: all var(--moby-ui-speed-trans) ease;
}

.Moby-Right-exit {
	transform: translateX(-110%);
}

.Moby-Right-exit-active {
	transform: translateX(-110%);
	transition: all var(--moby-ui-speed-trans) ease;
}
