
.CuisineCard-Container {
    margin: 10px;
    transition: var(--transition);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: max-content;
    align-content: center;
    flex-wrap: wrap;
}

.CuisineCard-Container:hover {
	transform: var(--enlarge);

	.CuisineCard-Image {
		box-shadow: var(--box-hover);
	}

	.CuisineCard-Title {
		transform: var(--enlarge);
	}
}

.CuisineCard-Image {
    -webkit-user-select: none;
	margin: 10px;
	user-select: none;
	transition: background-image 0.4s ease;
	border-radius: var(--border-radius);
	transition: all 0.2s ease;
	box-shadow: var(--box-shadow);
	width: calc(100px + 4vw);
	height: calc(220px + 4vw);
	object-fit: cover;
}

.CuisineCard-Title {
    transition: var(--transition);
    font-weight: bold;
    font-size: 19px;
    text-align: left;
    text-decoration: none;
    color: var(--mono-smoke);
    bottom: 40px;
    letter-spacing: 1px;
    position: relative;
}

.Cuisine {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Cuisine:hover {
	.Cuisine-Icon {
		animation: float 3s infinite;
		animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
	}
}

.Cuisine-Spacer {
	position: relative;
	width: 100%;
	height: calc(40px + 0.4em);
}

.Cuisine-Title {
	transition: var(--transition);
	font-weight: bold;
	font-size: 16px;
	text-align: left;
	width: 70%;
	color: var(--mono-tar);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.Cuisine-Title-Container {
    display: flex;
    align-items: center;
}

.Cuisine-Title-Line {
	margin-inline-start: 5vw;
	width: 100px;
	position: relative;
	top: -10px;
	height: 2px;
	background-color: var(--brand-link);
	border-radius: var(--border-round);
	z-index: -1;
}

.Cuisine-Icon {
	vertical-align: top;
	flex-shrink: 0;
	pointer-events: none;
	vertical-align: top;
	background-repeat: no-repeat;
	background-size: contain;
	width: 2rem;
	height: 2rem;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
	transition: all 0.5s ease;
	margin: 4px;
	margin-left: 10px;
}

.Cuisine-Inner {
    display: flex;
    align-items: center;
}

.Cuisine-More-Container {
    display: flex;
    align-items: center;
    transition: var(--transition);
    font-weight: bold;
    font-size: 16px;
    color: var(--mono-tar);
    justify-content: flex-end;
    cursor: pointer;
}

.Cuisine-More {
    vertical-align: top;
    flex-shrink: 0;
    vertical-align: top;
    background-repeat: no-repeat;
    background-size: contain;
    width: max-content;
    -webkit-user-select: none;
    user-select: none;
    transition: var(--transition);
    margin: 4px;
    margin-left: 10px;
    padding: 12px;
	letter-spacing: 1px;
    background-color: var(--brand);
    color: var(--mono-smoke);
    border-radius: var(--border-radius);
}

.Cuisine-More:hover {
	background-color: var(--brand-active);
	transform: var(--enlarge);
}