/* Feature Card Section */

/* Main Section */

.FeatCard {
	display: block;
	transition: all 0.5s ease;
}

.FeatCard-Container {
	margin: 10px;
	transition: var(--transition);
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	width: max-content;
}

.FeatCard-Container:hover {
	transform: scale(1.03);

	.FeatCard-Title {
		color: var(--brand-active);
		text-shadow: var(--text-shadow);
		transform: var(--enlarge);
	}

	.FeatCard-Location {
		color: var(--brand-link);
		text-shadow: var(--text-shadow);
	}

	.FeatCard-Image {
		transform: var(--enlarge);
		box-shadow: var(--box-hover);
	}
}

.FeatCard-Image {
	-webkit-user-select: none;
	margin: 10px;
	user-select: none;
	transition: background-image 0.4s ease;
	border-radius: var(--border-radius);
	transition: all 0.2s ease;
	width: calc(80px + 4vw);
	height: calc(80px + 4vw);
	object-fit: cover;
}

.FeatCard-Title {
	transition: var(--transition);
	font-weight: bold;
	font-size: 14px;
	text-align: left;
	text-decoration: none;
	color: var(--mono-title);
}

.FeatCard-Location {
	transition: var(--transition);
	width: 100%;
	font-weight: bold;
	font-size: 12px;
	text-align: left;
	color: var(--mono-subtitle);
	display: flex;
	flex-direction: row;
	align-items: center;
}

.FeatCard-Icon {
	vertical-align: top;
	background-repeat: no-repeat;
	background-size: contain;
	width: 1rem;
	height: 1rem;
	cursor: pointer;
	transition: all 0.5s ease;
	margin: 4px;
	margin-left: 0px;
}

/* Responsive Section */

@media only screen and (max-width: 800px) {
	.FeatCard-Container {
		margin: 5px;
	}

	.FeatCard-Image {
		margin: 0px;
	}

	.FeatCard-Title {
		font-size: 12px;
	}
	.FeatCard-Location {
		font-size: 10px;
	}
}

/* Featured Section */

/* Main Section */

.Featured {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Featured-Spacer {
	position: relative;
	width: 100%;
	height: calc(40px + 0.4em);
}

.Featured-Arrow {
	width: 2rem;
	height: 2rem;
	cursor: pointer;
	transition: all 0.5s ease;
	margin: 4px;
	margin-left: 0px;
}

.Featured-Title {
	transition: var(--transition);
	font-weight: bold;
	font-size: 16px;
	text-align: left;
	width: 70%;
	color: var(--mono-tar);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.Featured-Title-Container {
	display: flex;
	align-items: center;
}

.Featured-Title-Line {
    margin-inline-start: 33px;
    width: 100px;
    position: relative;
    top: -1.1em;
    height: 2px;
    background-color: var(--brand-link);
    border-radius: var(--border-round);
    z-index: -1;
}

.Featured-Icon {
    vertical-align: top;
    flex-shrink: 0;
    pointer-events: none;
    vertical-align: top;
    background-repeat: no-repeat;
    background-size: contain;
    width: 2.5rem;
    height: 2.5rem;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    transition: all 0.5s ease;
    margin: 4px;
    margin-left: 10px;
}

/* Panel Section */

.Featured-Container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.Featured-Inner {
	transition: var(--transition);
	width: calc(600px + 20vw);
	overflow-x: hidden;
}

.Featured-Panel {
	margin-top: 10px;
	display: flex;
	transition: all 0.4s cubic-bezier(0.5, 0.41, 0, 1.19);
}

.Featured-Panel-Sub {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	justify-items: center;
	align-items: center;
}

/* Responsive Section */

@media only screen and (max-width: 800px) {
	.Featured-Inner {
		width: calc(270px + 12vw);
	}

	.Featured-Panel-Sub {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}

	.Featured-Title {
		width: 100%;
		font-size: 14px;
		flex-wrap: wrap;
		align-items: center;
	}
}


