.Popular {
	display: block;
}

.Popular-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: var(--transition);
}

.Popular-Inner {
    display: grid;
    transition: var(--transition);
    grid-template-columns: repeat(auto-fill, minmax(clamp(130px, 18vw, 250px), 1fr));
    row-gap: 2vw;
    column-gap: 2vw;
    width: 89.5vw;
    justify-items: center;
}


.Popular-Spacer {
	height: clamp(100px, 22vh, 240px);
	width: 100%;
    background-color: var(--brand-background);
}

.Popular-Over {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    background-color: var(--brand-background);
}

.Popular-Slogan {
	color: var(--mono-title);
	font-size: clamp(8px, 2.3vw, 19px);
	font-weight: 700;
	text-align: center;
	transition: var(--transition);
	width: 26vw;
	margin-left: 10px;
	margin-right: 10px;
}

@media only screen and (max-width: 800px) {

    .Popular-Slogan {
		width: 50vw;
	}

	.Popular-Over {
		width: 100%;
		justify-content: center;
	}

}

