
.Keiko{
    color: black;
    --keiko-hue-sidebar: aqua;

    display: flex;
	flex-direction: row;
	align-items: stretch;
}

.Keiko-Sidebar {
    width: clamp(150px, 75vw, 250px);
    background-color: var(--keiko-hue-sidebar);
    min-height: 100svh;
}

.Keiko-Sidebar-Button{
    position: absolute;
}

.Keiko-Content {
    display: flex;
	flex-direction: row;
	align-items: stretch;
}